# ðŸ§  ETL Pipeline on Fitness Data

## ðŸš€ Inspiration  
Understanding **lifestyle factors** that contribute to **obesity** is key to enabling early interventions, crafting personalized health recommendations, and powering **machine learning** solutions in healthcare. This dataset offers a comprehensive view into daily habits and their link to obesity levels.

---

## ðŸ“Š Column Descriptions

| Feature                        | Description |
|-------------------------------|-------------|
| **Gender**                    | Biological sex of the individual (Male/Female). |
| **Age**                       | Age in years. |
| **Height**                    | Height in meters (m). |
| **Weight**                    | Weight in kilograms (kg). |
| **family_history_with_overweight** | Family history of being overweight (Yes/No). |
| **FAVC**                      | Frequent consumption of high-calorie food (Yes/No). |
| **FCVC**                      | Frequency of vegetable consumption (Scale: 1 to 3). |
| **NCP**                       | Number of main meals per day. |
| **CAEC**                      | Snacking frequency between meals (Never, Sometimes, Frequently, Always). |
| **SMOKE**                     | Smoking habit (Yes/No). |
| **CH2O**                      | Daily water intake (Scale: 1 to 3). |
| **SCC**                       | Whether the person monitors calorie intake (Yes/No). |
| **FAF**                       | Frequency of physical activity (Scale: 0 to 3). |
| **TUE**                       | Time spent using technology daily (Scale: 0 to 3). |
| **CALC**                      | Alcohol consumption frequency (Never, Sometimes, Frequently, Always). |
| **MTRANS**                    | Primary mode of transportation (Automobile, Bike, Motorbike, Public Transport, Walking). |
| **NObeyesdad**                | Obesity level classification:<br> _Insufficient Weight, Normal Weight, Overweight Level I/II, Obesity Type I/II/III_. |

---

## ðŸ’¡ Use Case  
This dataset empowers:
- ðŸ“‰ Predictive Modeling for Obesity Risk  
- ðŸ’¬ Personalized Health & Wellness Insights  
- ðŸ“ˆ Data-Driven Public Health Decisions  

Ready to dive into the data and transform insights into impact? ðŸ’¥

### Library Importation

In [193]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import Mere_functions as my

import warnings
warnings.filterwarnings("ignore")

## Data Extraction

In [194]:
data = my.read_data("""ObesityDataSet_raw_and_data_sinthetic.csv""")

In [195]:
data

,Id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Person_01,Female,21,1.62,64.00,yes,no,2.00,3.00,Sometimes,no,2.00,no,0.00,1.000,no,Public_Transportation,Normal_Weight
1,Person_02,Female,21,1.52,56.00,yes,no,3.00,3.00,Sometimes,yes,3.00,yes,3.00,0.000,Sometimes,Public_Transportation,Normal_Weight
2,Person_03,Male,23,1.80,77.00,yes,no,2.00,3.00,Sometimes,no,2.00,no,2.00,1.000,Frequently,Public_Transportation,Normal_Weight
3,Person_04,Male,27,1.80,87.00,no,no,3.00,3.00,Sometimes,no,2.00,no,2.00,0.000,Frequently,Walking,Overweight_Level_I
4,Person_05,Male,22,1.78,89.80,no,no,2.00,1.00,Sometimes,no,2.00,no,0.00,0.000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,Person_10306,Male,26,1.84,96.19,yes,yes,1.32,2.28,Sometimes,no,2.00,no,1.81,1.940,Sometimes,Public_Transportation,Overweight_Level_II
10306,Person_10307,Male,23,1.82,93.09,yes,yes,1.88,1.24,Sometimes,no,2.00,no,0.00,1.541,Sometimes,Public_Transportation,Overweight_Level_II
10307,Person_10308,Male,23,1.72,85.31,yes,yes,2.95,3.00,Sometimes,no,2.97,no,0.00,0.947,Sometimes,Public_Transportation,Overweight_Level_II
10308,Person_10309,Male,23,1.79,90.00,yes,yes,2.07,3.00,Sometimes,no,1.08,no,0.00,1.922,Sometimes,Public_Transportation,Overweight_Level_II
10309,Person_10310,LGBTQAB+,25,1.70,80.75,yes,yes,2.55,3.00,Sometimes,no,2.27,no,0.50,1.000,Frequently,Public_Transportation,Overweight_Level_II

### Initial Exploration

In [196]:
data.columns

Index(['Id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [197]:
my.rowcols(data)

The Numbers of Rows in this Data are 10310
The Numbers of Columns in this Data are 18

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10310 entries, 0 to 10309
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              10310 non-null  object
 1   Gender                          10310 non-null  object
 2   Age                             10310 non-null  int64
 3   Height                          10310 non-null  float64
 4   Weight                          10310 non-null  float64
 5   family_history_with_overweight  10310 non-null  object
 6   FAVC                            10310 non-null  object
 7   FCVC                            10278 non-null  float64
 8   NCP                             10310 non-null  float64
 9   CAEC                            10024 non-null  object
 10  SMOKE                           10310 non-null  object
 11  CH2O                            10187 non-null  float64
 12  SCC                             10310 non-null  object
 13  FAF                             10310 non-null  float64
 14  TUE                             10310 non-null  float64
 15  CALC                            10310 non-null  object
 16  MTRANS                          10070 non-null  object
 17  NObeyesdad                      10310 non-null  object
dtypes: float64(7), int64(1), object(10)
memory usage: 1.4+ MB

In [199]:
data.head()

,Id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Person_01,Female,21,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Person_02,Female,21,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Person_03,Male,23,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Person_04,Male,27,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Person_05,Male,22,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [200]:
data['Id'].unique()

array(['Person_01', 'Person_02', 'Person_03', ..., 'Person_10308',
       'Person_10309', 'Person_10310'], dtype=object)

It is the UNIQUE identifier of the table we will make it index for further.

In [201]:
data['Gender'].unique()

array(['Female', 'Male', 'LGBTQAB+', 'male'], dtype=object)

We have 3 genders male , female and LGBTQAB+ and we have 2 Spelling of Male so we have to tranform this column in the ETL.

In [202]:
data['FAVC'].unique()

array(['no', 'yes', 'Nope'], dtype=object)

In FAVC Column We have only 2 Possible values Yes and No as No and Nope are same so it also requires Transformation in the ETL Part.

In [203]:
data['family_history_with_overweight'].unique()

array(['yes', 'no', 'Nope'], dtype=object)

In Family History Column We have only 2 Possible values Yes and No as No and Nope are same so it also requires Transformation in the ETL Part.

In [204]:
data['FCVC'].unique()

array([2.  , 3.  , 1.  , 2.45, 2.88, 2.01, 2.6 , 2.59, 2.39, 1.12, 2.03,
       2.66, 2.89, 2.71, 2.75, 1.49, 2.21, 2.06, 2.31, 2.82, 2.05, 2.77,
       2.74, 2.57, 2.52, 2.97, 1.08, 1.27, 1.34, 2.96, 2.73, 2.84, 2.44,
       2.43, 2.93, 2.02, 1.03, 1.59, 1.21, 1.52, 2.7 , 2.36, 2.14, 2.56,
       2.34, 1.81, 2.72, 1.13, 1.76, 2.98, 2.2 , 2.53, 2.24, 2.65, 2.9 ,
       2.48, 2.95, 2.78, 1.01, 2.94, 1.89, 1.95, 2.28, 2.37, 2.32, 2.62,
       1.05, 2.76, 2.07, 2.69, 2.79, 2.67, 1.14, 2.19, 2.92, 2.85, 2.58,
       2.51, 2.91, 2.61, 2.63, 2.49, 1.69, 1.6 , 1.2 , 2.87, 1.64, 1.57,
       1.04, 1.65, 2.12, 2.86, 2.42, 1.79, 1.3 , 1.87, 1.45, 2.11, 1.94,
       1.75, 2.54, 2.4 , 1.62, 1.28, 1.73, 2.3 , 2.29, 1.91, 1.83, 2.22,
       2.8 , 2.09, 1.9 , 1.98, 1.06, 1.99, 2.25, 1.31, 1.32, 2.81, 2.46,
       2.64, 2.1 , 1.97, 2.18, 2.15, 1.77, 1.19, 2.99, 2.27, 2.16, 1.84,
       1.88, 2.55, 1.93, 1.96, 2.13, 2.68, 2.26, 2.35, 1.72, 1.1 , 2.41,
       1.78, 2.33, 2.04, 2.5 , 2.08, 1.36, 1.71, 1.85, 2.47, 1.56, 1.16,
       1.92, 1.22, 1.37, 1.33, 1.26, 1.39, 1.11, 1.63, 1.43, 2.23, 1.46,
       2.38, 1.48, 2.83, 1.17, 1.44, 1.8 , 1.74, 1.66, 1.54, 1.4 , 1.07,
       1.41, 1.29, 1.53, 1.47,  nan])

In FCVC Column we have a rating of how frequent vegetable consumption is on the scale of 1 to 3 and it is a continous column so we need to make it categorical for further use.

In [205]:
data['NCP'].unique()

array([3.  , 1.  , 4.  , 3.29, 1.73, 2.58, 1.6 , 1.74, 1.11, 2.08, 1.89,
       2.86, 3.77, 3.69, 3.16, 1.08, 3.56, 3.89, 3.24, 3.9 , 3.11, 3.59,
       2.06, 2.  , 3.82, 3.09, 3.75, 3.57, 3.73, 3.52, 1.26, 1.27, 3.3 ,
       3.65, 3.54, 1.72, 2.88, 3.63, 1.47, 3.17, 3.49, 2.99, 2.13, 3.91,
       3.7 , 3.18, 3.8 , 1.63, 3.76, 3.37, 2.71, 3.34, 2.22, 2.89, 3.5 ,
       3.19, 1.7 , 2.81, 1.61, 1.88, 2.33, 1.99, 2.97, 3.72, 3.38, 3.26,
       3.99, 3.25, 1.16, 3.41, 3.28, 3.21, 3.47, 3.44, 3.04, 3.64, 2.65,
       3.42, 2.64, 2.63, 3.1 , 3.13, 3.97, 3.71, 3.83, 3.58, 3.27, 3.43,
       3.53, 1.23, 1.06, 3.6 , 3.74, 3.45, 1.51, 2.78, 3.94, 3.05, 2.98,
       1.39, 1.58, 3.62, 3.36, 1.15, 3.98, 1.92, 2.11, 1.1 , 1.3 , 2.66,
       2.45, 2.79, 1.13, 2.49, 3.61, 3.95, 2.95, 2.8 , 2.23, 1.2 , 1.56,
       1.05, 1.19, 3.39, 3.55, 2.37, 1.21, 1.59, 2.73, 1.07, 1.41, 2.75,
       2.74, 2.61, 3.31, 2.34, 1.71, 3.06, 3.2 , 1.14, 3.32, 2.94, 2.85,
       3.48, 2.39, 2.76, 3.12, 1.87, 2.12, 2.96, 2.4 , 2.87, 1.03, 2.7 ,
       2.3 , 2.56, 3.79, 1.01, 2.67, 1.32, 2.04, 2.47, 3.07, 2.28, 1.12,
       2.26, 2.55, 1.24, 1.66, 2.6 , 2.72, 1.98, 2.68, 1.62, 2.59, 1.55,
       3.88, 2.36, 1.8 , 3.01, 2.27, 2.9 , 2.69, 1.18, 1.84, 1.81, 1.95,
       1.53, 1.35, 2.44, 2.84, 2.16, 1.17, 1.67, 2.52, 1.34, 2.91, 1.86,
       1.68, 2.82, 1.4 , 2.38, 2.83, 1.48, 1.97, 1.82, 3.86, 2.05, 1.04,
       2.62, 2.17, 2.14, 1.31, 2.09, 1.29, 2.03, 2.57, 1.46, 1.85, 1.09,
       1.42, 2.93, 2.21, 2.43, 2.48, 2.07, 1.93, 1.37, 1.33, 1.36, 1.02,
       1.77, 1.5 , 2.46, 1.78, 1.79, 1.25, 2.92, 2.18, 2.15, 2.77, 1.94,
       2.53, 2.42, 1.83, 2.01, 2.51, 1.57, 2.1 , 1.49, 3.22, 3.66, 2.19,
       2.02, 1.69, 1.44])

In NCP we have number of main meels again it is continous but need to get converted to categporical

In [206]:
data['CAEC'].unique()

array(['Sometimes', 'Frequently', 'Always', nan, 'Nope', 'no'],
      dtype=object)

this Column tells us about Snacking frequency again it has only 4 valid values and NOpe and No are same so need transformation.
Also this Column contains null values.

In [207]:
data['SMOKE'].unique()

array(['no', 'yes', 'Nope'], dtype=object)

In Smoking Column We have only 2 Possible values Yes and No as No and Nope are same so it also requires Transformation in the ETL Part.

In [208]:
data['CH2O'].unique()

array([2.  , 3.  , 1.  , 1.15, 1.12, 2.7 , 2.18, 2.41, 2.98, 2.44, 2.65,
       2.83, 2.85, 2.88, 2.15, 2.82, 2.59, 1.03, 1.79, 1.49, 2.07, 2.14,
       2.46, 1.53, 1.32, 1.66, 1.57, 2.84, 2.03, 1.25, 1.64, 1.3 , 1.63,
       2.1 , 1.86, 1.23, 1.05, 2.72, 2.73, 2.37, 2.67, 1.77, 2.62, 2.43,
       2.91, 2.31, 2.16, 2.89, 1.69, 1.44, 1.19, 1.02, 1.88, 1.7 , 2.04,
       1.27, 2.79, 1.43, 1.96, 1.09, 1.18, 1.98, 2.36, 2.93, 1.28, 1.39,
       1.16, 1.85, 1.33, 2.28, 2.12, 2.95, 1.11, 1.91, 1.97, 1.01, 1.6 ,
       1.84, 2.29, 2.69, 2.01, 1.95, 1.75, 2.26, 2.48, 1.04, 2.55, 2.35,
       2.57, 1.22, 1.92, 2.92, 2.24, 2.32, 1.13, 1.2 , 2.23, 2.39, 1.68,
       1.31, 1.54, 2.45, 1.99, 1.67, 2.02, 2.21, 1.36, 1.78, 1.87, 2.08,
       2.58, 2.2 , 2.54, 2.99, 1.1 , 1.06, 2.77, 1.55, 1.76, 2.49, 1.5 ,
       1.93, 1.82, 1.35, 1.83, 1.07, 2.17, 1.46, 2.8 , 2.75, 2.06, 1.59,
       2.63, 2.33, 1.17, 2.38, 1.34, 1.21, 2.5 , 2.11, 1.08, 2.05, 2.6 ,
       2.97, 2.76, 2.13, 2.22, 1.81, 1.62, 1.14, 2.47, 2.4 , 2.81, 2.78,
       1.71, 1.8 , 2.94, 2.87, 2.53, 2.64, 2.66, 2.68, 2.56, 1.65, 1.58,
       1.51, 1.74, 1.72, 1.29, 1.45, 2.96, 1.94, 2.27, 1.52, 2.25, 1.37,
       1.4 , 2.71, 1.26, 2.61, 1.61, 2.09, 2.19, 2.74, 2.51, 1.41, 2.86,
       1.89, 1.38, 2.42, 1.47, 2.52, 1.9 , 2.9 , 2.3 , 1.73, 1.56, 1.48,
       2.34, 1.24, 1.42,  nan])

In [209]:
data['SCC'].unique()

array(['no', 'yes', 'Nope'], dtype=object)

In SCC Column We have only 2 Possible values Yes and No as No and Nope are same so it also requires Transformation in the ETL Part.

In [210]:
data['FAF'].unique()

array([0.  , 3.  , 2.  , 1.  , 0.32, 1.54, 1.98, 0.1 , 1.59, 1.4 , 1.68,
       2.21, 1.32, 0.9 , 0.6 , 0.12, 0.35, 2.54, 0.2 , 1.6 , 0.75, 0.43,
       0.55, 1.3 , 1.49, 1.23, 1.66, 0.66, 0.54, 0.82, 0.19, 1.9 , 1.07,
       1.64, 2.87, 0.62, 1.44, 0.11, 0.29, 1.93, 0.99, 1.25, 0.52, 0.28,
       2.6 , 2.24, 2.46, 0.14, 0.65, 1.52, 1.37, 0.26, 2.78, 2.35, 2.04,
       0.87, 0.63, 2.2 , 0.07, 0.03, 0.68, 2.31, 2.01, 1.26, 1.24, 0.23,
       1.84, 0.83, 1.95, 0.95, 1.97, 1.55, 1.7 , 0.48, 0.13, 0.78, 0.17,
       1.16, 2.83, 1.88, 2.51, 0.37, 2.08, 0.77, 0.79, 1.1 , 1.61, 1.19,
       0.42, 1.42, 1.35, 0.21, 0.88, 1.85, 1.56, 1.29, 0.85, 0.53, 0.25,
       1.86, 1.51, 2.11, 0.49, 1.08, 1.62, 1.22, 2.03, 2.33, 2.41, 1.94,
       1.46, 2.7 , 0.61, 2.43, 0.04, 0.51, 0.06, 1.33, 0.98, 0.46, 0.02,
       0.05, 0.7 , 2.64, 0.92, 2.29, 2.57, 2.55, 2.02, 1.91, 1.36, 2.71,
       0.24, 0.69, 0.18, 0.56, 2.89, 0.93, 0.01, 1.81, 0.73, 0.34, 0.38,
       0.44, 0.94, 1.92, 0.15, 2.16, 2.06, 2.12, 1.58, 0.76, 2.32, 1.76,
       1.53, 1.99, 0.09, 1.12, 1.82, 2.97, 2.88, 1.72, 0.5 , 0.74, 1.02,
       1.78, 1.96, 0.81, 0.84, 1.17, 2.69, 0.33, 0.27, 1.06, 2.27, 2.76,
       2.72, 1.5 , 1.18, 1.21, 2.17, 1.15, 2.93, 1.11, 1.31, 0.58, 0.3 ,
       0.59, 2.09, 1.38, 0.45, 1.67, 2.94, 0.86, 2.18, 0.97, 0.16, 1.73,
       0.36, 0.89, 1.75, 1.43, 0.39, 2.15, 1.47, 2.36, 2.22, 1.27, 0.67,
       0.71, 1.39, 1.74, 2.3 , 0.47, 2.85, 0.41, 1.28, 1.45, 2.63, 0.31,
       1.63, 1.05, 2.81, 2.67, 1.48, 1.03, 2.23, 2.05, 1.89, 2.39, 1.87,
       2.49, 1.09, 1.77, 1.01, 1.8 , 1.34, 1.2 , 0.22, 1.65, 2.79, 2.82,
       0.57, 2.61, 0.4 , 1.14, 0.91, 1.69, 0.8 , 0.96, 0.64, 1.13, 1.04,
       1.41, 1.71, 0.08, 1.57])

THis COlumn will tells us about Water Intake and again it is numerical column we will convert it to categorical

In [211]:
data['CALC'].unique()

array(['no', 'Sometimes', 'Frequently', 'Nope', 'Always'], dtype=object)

this Column tells us about Snacking frequency again it has only 4 valid values and NOpe and No are same so need transformation.

In [212]:
data['TUE'].unique()

array([1.000e+00, 0.000e+00, 2.000e+00, 2.950e-01, 8.390e-01, 4.790e-01,
       6.250e-01, 2.660e-01, 5.550e-01, 9.290e-01, 1.340e+00, 5.900e-01,
       1.375e+00, 1.284e+00, 6.200e-02, 9.970e-01, 7.380e-01, 8.600e-01,
       5.560e-01, 4.700e-01, 3.720e-01, 9.000e-03, 8.320e-01, 1.150e-01,
       2.560e-01, 1.547e+00, 1.906e+00, 1.639e+00, 7.150e-01, 8.290e-01,
       4.750e-01, 1.488e+00, 1.894e+00, 1.840e+00, 1.380e+00, 1.593e+00,
       1.273e+00, 2.200e-01, 3.800e-02, 1.679e+00, 8.750e-01, 1.010e+00,
       1.530e-01, 6.360e-01, 1.120e+00, 9.700e-02, 1.366e+00, 7.200e-01,
       3.220e-01, 9.400e-01, 4.560e-01, 1.164e+00, 3.310e-01, 1.330e-01,
       1.594e+00, 1.329e+00, 1.674e+00, 4.660e-01, 9.310e-01, 7.450e-01,
       1.708e+00, 1.616e+00, 1.242e+00, 2.770e-01, 1.960e-01, 7.100e-02,
       8.150e-01, 3.690e-01, 9.300e-01, 1.467e+00, 1.163e+00, 3.270e-01,
       7.050e-01, 3.710e-01, 5.600e-01, 1.526e+00, 1.683e+00, 1.290e-01,
       1.884e+00, 9.080e-01, 1.743e+00, 1.895e+00, 1.612e+00, 8.440e-01,
       1.251e+00, 1.392e+00, 2.840e-01, 7.460e-01, 5.040e-01, 7.510e-01,
       7.700e-02, 6.460e-01, 1.280e-01, 8.620e-01, 2.670e-01, 1.673e+00,
       4.270e-01, 1.100e+00, 1.001e+00, 1.719e+00, 1.065e+00, 1.991e+00,
       1.561e+00, 1.267e+00, 6.600e-02, 8.980e-01, 9.850e-01, 8.590e-01,
       1.259e+00, 4.540e-01, 1.443e+00, 1.844e+00, 1.253e+00, 1.550e+00,
       1.403e+00, 3.790e-01, 1.750e-01, 1.807e+00, 4.170e-01, 1.426e+00,
       9.560e-01, 1.031e+00, 7.730e-01, 6.140e-01, 8.900e-02, 1.301e+00,
       1.958e+00, 1.973e+00, 1.626e+00, 4.040e-01, 1.511e+00, 3.850e-01,
       1.128e+00, 8.000e-03, 5.890e-01, 3.900e-02, 1.608e+00, 1.151e+00,
       5.130e-01, 8.010e-01, 5.610e-01, 1.747e+00, 1.487e+00, 5.540e-01,
       3.750e-01, 1.420e-01, 7.070e-01, 1.416e+00, 1.358e+00, 6.280e-01,
       3.350e-01, 3.160e-01, 8.800e-01, 1.970e-01, 2.740e-01, 1.339e+00,
       1.598e+00, 1.945e+00, 1.057e+00, 1.887e+00, 4.810e-01, 1.285e+00,
       1.657e+00, 1.721e+00, 1.112e+00, 1.060e-01, 1.600e-01, 1.690e+00,
       1.453e+00, 1.170e-01, 1.195e+00, 5.000e-03, 1.430e-01, 7.980e-01,
       1.984e+00, 9.620e-01, 3.660e-01, 1.740e-01, 3.880e-01, 1.376e+00,
       1.981e+00, 2.260e-01, 3.600e-01, 3.060e-01, 6.870e-01, 4.530e-01,
       1.440e-01, 6.790e-01, 6.740e-01, 3.080e-01, 4.600e-01, 1.651e+00,
       9.680e-01, 6.230e-01, 4.260e-01, 1.500e-02, 8.180e-01, 8.950e-01,
       2.200e-02, 5.620e-01, 8.090e-01, 1.900e-02, 9.230e-01, 1.783e+00,
       9.790e-01, 1.344e+00, 3.950e-01, 2.130e-01, 1.765e+00, 5.800e-02,
       9.660e-01, 1.306e+00, 2.400e-02, 1.287e+00, 1.660e-01, 5.160e-01,
       4.800e-01, 9.540e-01, 7.940e-01, 8.720e-01, 4.720e-01, 1.409e+00,
       1.899e+00, 1.191e+00, 9.270e-01, 1.540e-01, 5.730e-01, 2.480e-01,
       4.500e-02, 1.083e+00, 7.770e-01, 8.340e-01, 1.390e-01, 9.760e-01,
       1.967e+00, 2.570e-01, 1.043e+00, 2.080e-01, 5.490e-01, 8.060e-01,
       9.910e-01, 7.830e-01, 3.300e-01, 5.990e-01, 8.700e-02, 4.930e-01,
       1.466e+00, 2.710e-01, 1.103e+00, 6.820e-01, 8.890e-01, 1.503e+00,
       3.110e-01, 1.510e-01, 1.898e+00, 1.828e+00, 1.970e+00, 1.915e+00,
       1.166e+00, 1.618e+00, 4.350e-01, 1.110e+00, 1.772e+00, 1.890e+00,
       1.000e-03, 3.000e-03, 1.754e+00, 1.619e+00, 3.700e-01, 9.160e-01,
       3.030e-01, 1.700e-02, 3.930e-01, 1.801e+00, 1.405e+00, 7.970e-01,
       9.090e-01, 9.740e-01, 9.870e-01, 1.582e+00, 9.990e-01, 8.540e-01,
       1.324e+00, 5.090e-01, 7.870e-01, 5.520e-01, 1.540e+00, 1.611e+00,
       6.590e-01, 7.620e-01, 7.850e-01, 1.940e+00, 1.541e+00, 9.470e-01,
       1.922e+00, 4.340e-01, 8.910e-01, 8.550e-01, 1.482e+00, 1.507e+00,
       1.518e+00, 5.190e-01, 1.340e-01, 4.180e-01, 4.290e-01, 9.390e-01,
       6.520e-01, 8.460e-01, 4.400e-01, 7.600e-02, 2.040e-01, 8.400e-02,
       6.490e-01, 1.550e-01, 2.760e-01, 6.640e-01, 7.400e-01, 6.880e-01,
       1.270e+00, 1.692e+00, 3.340e-01, 2.000e-02, 1.445e+00, 1.229e+00,
       1.732e+00, 8.000e-01, 1.250e-01, 6.310e-01, 1.971e+00, 1.067e+00,
       4.190e-01, 1.115e+00, 1.095e+00, 9.690e-01, 1.012e+00, 8.790e-01,
       8.270e-01, 7.260e-01, 6.090e-01, 4.000e-03, 7.910e-01, 2.700e-02,
       9.650e-01, 7.470e-01, 4.640e-01, 1.796e+00, 7.790e-01, 5.690e-01,
       1.413e+00, 1.207e+00, 3.960e-01, 1.343e+00, 1.019e+00, 6.730e-01,
       9.980e-01, 1.313e+00, 5.760e-01, 4.420e-01, 8.190e-01, 1.463e+00,
       1.544e+00, 1.630e-01, 8.400e-01, 6.050e-01, 3.280e-01, 1.944e+00,
       1.668e+00, 1.029e+00, 2.910e-01, 5.240e-01, 9.370e-01, 8.650e-01,
       1.359e+00, 2.360e-01, 5.170e-01, 1.261e+00, 1.750e+00, 5.450e-01,
       7.210e-01, 1.041e+00, 1.220e-01, 9.720e-01, 1.070e-01, 9.340e-01,
       9.050e-01, 8.050e-01, 1.770e-01, 1.213e+00, 6.470e-01, 4.870e-01,
       2.190e-01, 6.060e-01, 6.320e-01, 9.940e-01, 1.529e+00, 6.920e-01,
       1.620e+00, 1.565e+00, 4.140e-01, 1.238e+00, 1.778e+00, 1.350e+00,
       5.220e-01, 9.300e-02, 1.281e+00, 1.707e+00, 5.050e-01, 1.206e+00,
       5.270e-01, 7.320e-01, 7.690e-01, 6.220e-01, 1.610e+00, 1.442e+00,
       1.617e+00, 2.330e-01, 6.770e-01, 1.030e-01, 1.817e+00, 3.290e-01,
       1.595e+00, 1.883e+00, 5.370e-01, 1.759e+00, 6.800e-01, 1.728e+00,
       5.860e-01, 1.061e+00, 1.256e+00, 1.605e+00, 1.690e-01, 1.282e+00,
       6.700e-01, 1.978e+00, 5.720e-01, 1.771e+00, 8.900e-01, 1.731e+00,
       8.940e-01, 4.590e-01, 3.020e-01, 1.220e+00, 3.210e-01, 5.700e-01,
       7.800e-02, 8.020e-01, 1.677e+00, 1.554e+00, 1.860e-01, 1.015e+00,
       4.900e-02, 1.700e-01, 1.790e-01, 5.380e-01, 4.680e-01, 7.860e-01,
       1.866e+00, 1.946e+00, 9.060e-01, 2.030e-01, 1.585e+00, 1.597e+00,
       1.510e+00, 7.080e-01, 5.850e-01, 6.160e-01, 1.094e+00, 7.900e-02,
       1.383e+00, 1.517e+00, 2.890e-01, 1.633e+00, 1.300e-02, 1.680e-01,
       1.461e+00, 1.196e+00, 1.032e+00, 7.330e-01, 1.393e+00, 1.292e+00,
       9.040e-01, 1.402e+00, 3.180e-01, 1.050e-01, 1.950e-01, 8.960e-01,
       1.659e+00, 4.070e-01, 9.210e-01, 1.225e+00, 5.440e-01, 1.760e-01,
       1.157e+00, 3.640e-01, 9.200e-01, 5.180e-01, 8.310e-01, 4.130e-01,
       5.800e-01, 7.560e-01, 2.620e-01, 7.410e-01, 1.476e+00, 1.377e+00,
       1.560e+00, 6.100e-02, 5.980e-01, 1.450e-01, 1.224e+00, 1.286e+00,
       4.670e-01, 9.320e-01, 5.530e-01, 6.450e-01, 1.767e+00, 1.670e+00,
       2.220e-01, 8.860e-01, 3.190e-01, 3.130e-01, 3.040e-01, 1.355e+00,
       1.332e+00, 1.809e+00, 1.918e+00, 9.520e-01, 1.108e+00, 1.929e+00,
       2.930e-01, 1.875e+00, 3.150e-01, 1.444e+00, 2.000e-03, 3.610e-01,
       7.540e-01, 7.390e-01, 7.160e-01, 8.640e-01, 1.384e+00, 1.691e+00,
       1.494e+00, 6.970e-01, 1.074e+00, 4.250e-01, 4.900e-01, 1.760e+00,
       9.480e-01, 3.900e-01, 1.876e+00, 1.837e+00, 6.780e-01, 3.570e-01,
       1.036e+00, 1.360e+00, 8.570e-01, 6.700e-02, 1.010e-01, 1.136e+00,
       6.900e-02, 4.280e-01, 9.750e-01, 6.200e-01, 7.680e-01, 1.262e+00,
       3.400e-01, 7.310e-01, 1.570e-01, 2.010e-01, 7.200e-02, 5.010e-01,
       1.000e-01, 1.588e+00, 1.992e+00, 1.431e+00, 7.250e-01, 1.252e+00,
       8.500e-01, 1.100e-02, 8.100e-02, 1.073e+00, 4.740e-01, 1.192e+00,
       1.091e+00, 1.481e+00, 1.432e+00, 4.500e-01, 4.610e-01, 1.003e+00,
       1.368e+00, 3.250e-01, 1.140e-01, 1.380e-01, 5.100e-02, 1.023e+00,
       4.700e-02, 3.100e-01, 1.120e-01, 3.460e-01, 1.334e+00, 7.640e-01,
       6.900e-01, 3.920e-01, 2.960e-01, 2.650e-01, 3.440e-01, 1.140e+00,
       1.916e+00, 9.360e-01, 4.120e-01, 1.098e+00, 8.630e-01, 1.666e+00,
       1.465e+00, 1.439e+00, 5.120e-01, 3.810e-01, 2.470e-01, 7.780e-01,
       3.870e-01, 1.150e+00, 9.180e-01, 9.000e-02, 1.730e-01, 5.940e-01,
       3.770e-01, 9.220e-01, 1.556e+00, 5.300e-02, 6.890e-01, 1.221e+00,
       6.180e-01, 8.480e-01, 1.579e+00, 7.590e-01, 1.890e-01, 2.820e-01,
       6.300e-02, 1.198e+00, 2.920e-01, 4.780e-01, 1.153e+00, 2.180e-01,
       5.280e-01, 1.850e-01, 2.290e-01, 1.552e+00, 6.190e-01, 5.600e-02,
       5.320e-01, 3.620e-01, 3.500e-02, 1.058e+00, 1.218e+00, 1.122e+00,
       8.200e-01, 1.239e+00, 1.042e+00, 5.350e-01, 7.360e-01, 7.340e-01,
       4.450e-01, 4.920e-01, 9.420e-01, 8.030e-01, 6.710e-01, 3.700e-02,
       4.110e-01, 5.830e-01, 8.250e-01, 8.140e-01, 9.570e-01, 1.110e-01,
       8.820e-01, 7.530e-01, 9.590e-01, 2.510e-01, 8.690e-01, 8.260e-01,
       7.350e-01, 5.740e-01, 1.560e-01, 2.050e-01, 7.670e-01, 8.170e-01,
       5.390e-01, 6.560e-01, 9.140e-01, 1.020e-01, 3.940e-01, 5.200e-01,
       6.040e-01, 9.120e-01, 2.000e-01, 4.360e-01, 6.400e-01, 9.260e-01,
       9.070e-01, 3.680e-01, 3.580e-01, 1.990e-01, 6.290e-01, 6.680e-01,
       4.630e-01, 6.650e-01, 6.850e-01, 7.230e-01, 7.060e-01, 8.710e-01,
       2.370e-01, 8.800e-02, 1.620e-01, 5.460e-01, 5.410e-01, 4.380e-01,
       8.870e-01, 5.880e-01, 6.960e-01, 1.000e-02, 5.200e-02, 8.520e-01,
       3.390e-01, 2.430e-01, 8.580e-01, 8.330e-01, 9.130e-01, 2.530e-01,
       2.580e-01, 7.110e-01, 8.360e-01, 9.410e-01, 6.630e-01, 7.480e-01,
       6.570e-01, 7.760e-01, 9.110e-01, 8.740e-01, 4.510e-01, 7.370e-01,
       7.600e-01, 7.300e-01, 8.040e-01, 7.750e-01, 8.200e-02, 1.270e-01,
       6.840e-01, 7.700e-01, 3.970e-01, 9.500e-01, 7.890e-01, 9.240e-01,
       9.460e-01, 8.000e-02, 1.670e-01, 2.280e-01, 8.230e-01, 8.970e-01,
       7.650e-01, 3.230e-01, 4.520e-01, 2.790e-01, 2.700e-01, 8.780e-01,
       8.350e-01, 8.490e-01, 9.280e-01, 6.860e-01, 7.420e-01, 7.800e-01,
       8.070e-01, 1.400e-01, 1.520e-01, 6.300e-01, 5.400e-01, 7.920e-01,
       7.740e-01, 7.140e-01, 5.660e-01, 5.430e-01, 4.300e-01, 9.000e-01,
       8.410e-01, 8.430e-01, 6.500e-02, 1.410e-01, 2.440e-01, 4.020e-01,
       5.650e-01, 7.630e-01, 2.150e-01, 3.840e-01, 4.470e-01, 6.620e-01,
       4.620e-01, 2.250e-01, 4.330e-01, 6.930e-01, 2.110e-01, 6.750e-01,
       7.120e-01, 6.810e-01, 8.130e-01, 9.030e-01, 9.010e-01, 2.900e-02,
       2.320e-01, 1.240e-01, 9.200e-02, 1.780e-01, 1.710e-01, 9.800e-02,
       9.400e-02, 4.650e-01, 4.840e-01])

This Column will telss us about time spend on screen daily on the scale of 0 to 3 so it also required mapping

In [213]:
data['MTRANS'].unique()

array(['Public_Transportation', 'Walking', 'Automobile', 'Motorbike',
       'Bike', nan], dtype=object)

This COlumn have Null Values. and again Motorbike and Bike are Same so we need to use only on evalue

In [214]:
data['NObeyesdad'].unique()

array(['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II',
       'Obesity_Type_I', 'normal_Weight', 'Insufficient_Weight',
       'Obesity_Type_II', 'Obesity_Type_III'], dtype=object)

## Data Transformation

Let's Make Id column as Index

In [215]:
data.set_index('Id', inplace=True)
data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
Id,,,,,,,,,,,,,,,,,
Person_01,Female,21,1.62,64.00,yes,no,2.00,3.00,Sometimes,no,2.00,no,0.00,1.000,no,Public_Transportation,Normal_Weight
Person_02,Female,21,1.52,56.00,yes,no,3.00,3.00,Sometimes,yes,3.00,yes,3.00,0.000,Sometimes,Public_Transportation,Normal_Weight
Person_03,Male,23,1.80,77.00,yes,no,2.00,3.00,Sometimes,no,2.00,no,2.00,1.000,Frequently,Public_Transportation,Normal_Weight
Person_04,Male,27,1.80,87.00,no,no,3.00,3.00,Sometimes,no,2.00,no,2.00,0.000,Frequently,Walking,Overweight_Level_I
Person_05,Male,22,1.78,89.80,no,no,2.00,1.00,Sometimes,no,2.00,no,0.00,0.000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Person_10306,Male,26,1.84,96.19,yes,yes,1.32,2.28,Sometimes,no,2.00,no,1.81,1.940,Sometimes,Public_Transportation,Overweight_Level_II
Person_10307,Male,23,1.82,93.09,yes,yes,1.88,1.24,Sometimes,no,2.00,no,0.00,1.541,Sometimes,Public_Transportation,Overweight_Level_II
Person_10308,Male,23,1.72,85.31,yes,yes,2.95,3.00,Sometimes,no,2.97,no,0.00,0.947,Sometimes,Public_Transportation,Overweight_Level_II
Person_10309,Male,23,1.79,90.00,yes,yes,2.07,3.00,Sometimes,no,1.08,no,0.00,1.922,Sometimes,Public_Transportation,Overweight_Level_II
Person_10310,LGBTQAB+,25,1.70,80.75,yes,yes,2.55,3.00,Sometimes,no,2.27,no,0.50,1.000,Frequently,Public_Transportation,Overweight_Level_II

for Gender column let's convert male to Male

In [216]:
data['Gender'] = data['Gender'].replace("male", "Male")

In [217]:
data['Gender'].unique()

array(['Female', 'Male', 'LGBTQAB+'], dtype=object)

for FAVC column we need to convert nope to no

In [218]:
data['FAVC'] = np.where(data['FAVC'] == "Nope", "no", data['FAVC'])

data['FAVC'].unique()

array(['no', 'yes'], dtype=object)

For Family_history column we need to convert nope to no

In [219]:
data['family_history_with_overweight'] = data['family_history_with_overweight'].replace("Nope", "no")

data['family_history_with_overweight'].unique()

array(['yes', 'no'], dtype=object)

For Smoke and CAEC Column we again need to convert no to nope

In [220]:
data['CAEC'] = np.where(data["CAEC"] == "no", "Nope", data['CAEC'])

data['SMOKE'] = np.where(data["SMOKE"] == "no", "Nope", data['SMOKE'])

In [221]:
data['CAEC'].unique()

array(['Sometimes', 'Frequently', 'Always', nan, 'Nope'], dtype=object)

In [222]:
data['SMOKE'].unique()

array(['Nope', 'yes'], dtype=object)

For FCVC column (frequency of vegetable consumption) we need to have a data on Scale of 1 to 3 but we have continous data as it may appear hard for user to give input in that way so grouped these values in 1,2 and 3

In [223]:
my.minmax(data['FCVC'])

The Minimum Value in this column is going to be 1.0
The Maximum Value in this column is going to be 3.0

In [224]:
data['FCVC'] = data['FCVC'].apply(lambda x : 1 if x <= 1 else 2 if x <= 2 and x > 1 else 3)

In [225]:
data['FCVC'].unique()

array([2, 3, 1], dtype=int64)

For NCP COlumn i.e, number of Main Meals Perday we need again a scaled data not in a continous type as it is not user friendly

In [226]:
my.minmax(data['NCP'])

The Minimum Value in this column is going to be 1.0
The Maximum Value in this column is going to be 4.0

In [227]:
data['NCP'] = data['NCP'].apply(lambda x : 1 if x <= 1 else 2 if x <= 2 and x > 1 else 3 if x <= 3 and x > 2 else 4)

data['NCP'].unique()

array([3, 1, 4, 2], dtype=int64)

For CH2O column i.e, Concumption of water daily basis again a continous COlumn and we need to make it categorical and user friendly input

In [228]:
my.minmax(data['CH2O'])

The Minimum Value in this column is going to be 1.0
The Maximum Value in this column is going to be 3.0

In [229]:
data['CH2O'] = data['CH2O'].apply(lambda x : 1 if x <= 1 else 2 if x <= 2 and x > 1 else 3 )

data['CH2O'].unique()

array([2, 3, 1], dtype=int64)

For SCC Column we need to transform Nope values to no

In [230]:
data['SCC'] = np.where(data['SCC'] == 'Nope', "no", data['SCC'])

In [231]:
data['SCC'].unique()

array(['no', 'yes'], dtype=object)

For FAF column i.e, Frequency of Physical Activity we need to have a scaled data so we are going to transform the data from continous nature to categorical Nature as it is always more user friendly

In [232]:
my.minmax(data['FAF'])

The Minimum Value in this column is going to be 0.0
The Maximum Value in this column is going to be 3.0

In [233]:
data['FAF'] = data['FAF'].apply(lambda x : 0 if x <= 0 else 1 if x > 0  and x <= 1 else 2 if x <= 2 and x > 1 else 3)

data['FAF'].unique()

array([0, 3, 2, 1], dtype=int64)

for column name TUE that tells us about time spent on techinology so for that matter we need to categorise it let's look at the values so that we will categorise into low , high and medium usage

In [234]:
my.minmax(data['TUE'])

The Minimum Value in this column is going to be 0.0
The Maximum Value in this column is going to be 2.0

In [235]:
data['TUE'] = data['TUE'].apply(lambda x : "Low Usage" if 0 <= x <= 0.7 else "Moderate Usage" if 0.7 < x <= 1.4 else "High Usage")

data['TUE'].unique()

array(['Moderate Usage', 'Low Usage', 'High Usage'], dtype=object)

#### NOW FOR FURTHER TRANSFORMATION OF 3 COLUMNS (MTRANS, CALC AND NOBEYESDAD) WE WILL USE SQL QUERIES

#### For that matter let's establish a connection between SQL and Python so that we can write queries here itself

## Data Loading

In [236]:
import pymysql

pipeline = pymysql.connect(
    host= "localhost",
    user = "root",
    password= "14072003"
)

    
etl = pipeline.cursor()

In [237]:
etl.execute("Drop database if exists obesity;")

1

In [238]:
etl.execute("Create Database Obesity;")
print("Database Created Succcessfully")

Database Created Succcessfully

In [239]:
from sqlalchemy import create_engine, text

In [240]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\aviral\anaconda3\lib\site-packages (9.3.0)

WARNING: Ignoring invalid distribution ~ympy (C:\Users\AVIRAL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ympy (C:\Users\AVIRAL\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ympy (C:\Users\AVIRAL\anaconda3\Lib\site-packages)

In [241]:
connector = create_engine("mysql+mysqlconnector://root:14072003@localhost:3306/Obesity")
print("Connection Set Up Successfully")

Connection Set Up Successfully

NOW LET'S PUSH ALL THE DATA IN SQL DATABASE

In [242]:
data.to_sql(
    name="Obesity_Data",
    con = connector,
    if_exists="replace",
    index=False
)

print("WHOLE DATA IS PUSHED INTO THE SQL DATABASE")

WHOLE DATA IS PUSHED INTO THE SQL DATABASE

In [243]:
pd.read_sql_query("Select * from Obesity_data;", connector)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21,1.62,64.00,yes,no,2,3,Sometimes,Nope,2,no,0,Moderate Usage,no,Public_Transportation,Normal_Weight
1,Female,21,1.52,56.00,yes,no,3,3,Sometimes,yes,3,yes,3,Low Usage,Sometimes,Public_Transportation,Normal_Weight
2,Male,23,1.80,77.00,yes,no,2,3,Sometimes,Nope,2,no,2,Moderate Usage,Frequently,Public_Transportation,Normal_Weight
3,Male,27,1.80,87.00,no,no,3,3,Sometimes,Nope,2,no,2,Low Usage,Frequently,Walking,Overweight_Level_I
4,Male,22,1.78,89.80,no,no,2,1,Sometimes,Nope,2,no,0,Low Usage,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,Male,26,1.84,96.19,yes,yes,2,3,Sometimes,Nope,2,no,2,High Usage,Sometimes,Public_Transportation,Overweight_Level_II
10306,Male,23,1.82,93.09,yes,yes,2,2,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight_Level_II
10307,Male,23,1.72,85.31,yes,yes,3,3,Sometimes,Nope,3,no,0,Moderate Usage,Sometimes,Public_Transportation,Overweight_Level_II
10308,Male,23,1.79,90.00,yes,yes,3,3,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight_Level_II
10309,LGBTQAB+,25,1.70,80.75,yes,yes,3,3,Sometimes,Nope,3,no,1,Moderate Usage,Frequently,Public_Transportation,Overweight_Level_II

##### For MTrans data

In [244]:
pd.read_sql_query("Select distinct mtrans from obesity_data;", connector)

                  mtrans
0  Public_Transportation
1                Walking
2             Automobile
3              Motorbike
4                   Bike
5                   None

Lets merge motorbike and bike values into one

In [245]:
with connector.begin() as conn:
    conn.execute(text(
        "UPDATE Obesity_data SET MTrans = 'Bike' WHERE MTrans = 'MotorBike'"
    ))

pd.read_sql_query("Select distinct mtrans from obesity_data;", connector)

                  mtrans
0  Public_Transportation
1                Walking
2             Automobile
3                   Bike
4                   None

##### For CalC data

In [246]:
pd.read_sql_query("Select distinct calc from obesity_data;", connector)

         calc
0          no
1   Sometimes
2  Frequently
3        Nope
4      Always

Here we need to merge no and Nope values and put Never instead of both

In [247]:
with connector.begin() as conn:
    conn.execute(text(
        "Update obesity_data set calc = 'Never' where calc in ('no', 'never')"))
    
pd.read_sql_query("Select distinct calc from obesity_data;", connector)

         calc
0       Never
1   Sometimes
2  Frequently
3        Nope
4      Always

##### For NObeyesdad

In [248]:
pd.read_sql_query("Select Distinct nobeyesdad from obesity_data", connector)

            nobeyesdad
0        Normal_Weight
1   Overweight_Level_I
2  Overweight_Level_II
3       Obesity_Type_I
4  Insufficient_Weight
5      Obesity_Type_II
6     Obesity_Type_III

In [249]:

with connector.begin() as con:
    con.execute(text("""
        UPDATE obesity_data
        SET nobeyesdad = CASE
            WHEN nobeyesdad = 'Normal_Weight' THEN 'Healthy'
            WHEN nobeyesdad = 'Insufficient_Weight' THEN 'Underweight'
            WHEN nobeyesdad IN ('Overweight_Level_I', 'Overweight_Level_II') THEN 'Overweight'
            WHEN nobeyesdad IN ('Obesity_Type_I', 'Obesity_Type_II') THEN 'Obese'
            WHEN nobeyesdad = 'Obesity_Type_III' THEN 'Severely Obese'
            ELSE nobeyesdad
        END
    """))

In [250]:
pd.read_sql_query("Select distinct nobeyesdad from obesity_data", connector)

       nobeyesdad
0         Healthy
1      Overweight
2           Obese
3     Underweight
4  Severely Obese

## Changing Column Names

lets refine columns name as well as we have ncp so we will change it to no_of_meals and so on using sql commands

##### FCVC to Freq_of_Vegie_Consump

In [251]:
with connector.begin() as conn:
    conn.execute(text(
        "ALter Table obesity_data RENAME column FCVC to Freq_of_Vegie_Consump "
    ))

pd.read_sql_query("Select * from Obesity_data", connector)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,Freq_of_Vegie_Consump,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21,1.62,64.00,yes,no,2,3,Sometimes,Nope,2,no,0,Moderate Usage,Never,Public_Transportation,Healthy
1,Female,21,1.52,56.00,yes,no,3,3,Sometimes,yes,3,yes,3,Low Usage,Sometimes,Public_Transportation,Healthy
2,Male,23,1.80,77.00,yes,no,2,3,Sometimes,Nope,2,no,2,Moderate Usage,Frequently,Public_Transportation,Healthy
3,Male,27,1.80,87.00,no,no,3,3,Sometimes,Nope,2,no,2,Low Usage,Frequently,Walking,Overweight
4,Male,22,1.78,89.80,no,no,2,1,Sometimes,Nope,2,no,0,Low Usage,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,Male,26,1.84,96.19,yes,yes,2,3,Sometimes,Nope,2,no,2,High Usage,Sometimes,Public_Transportation,Overweight
10306,Male,23,1.82,93.09,yes,yes,2,2,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight
10307,Male,23,1.72,85.31,yes,yes,3,3,Sometimes,Nope,3,no,0,Moderate Usage,Sometimes,Public_Transportation,Overweight
10308,Male,23,1.79,90.00,yes,yes,3,3,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight
10309,LGBTQAB+,25,1.70,80.75,yes,yes,3,3,Sometimes,Nope,3,no,1,Moderate Usage,Frequently,Public_Transportation,Overweight

##### FAVC to Fried_Food_Consump

In [252]:
with connector.begin() as conn:
    conn.execute(text(
        "ALter Table obesity_data RENAME column FAVC to Fried_Food_Consump "
    ))

pd.read_sql_query("Select * from Obesity_data", connector)

,Gender,Age,Height,Weight,family_history_with_overweight,Fried_Food_Consump,Freq_of_Vegie_Consump,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21,1.62,64.00,yes,no,2,3,Sometimes,Nope,2,no,0,Moderate Usage,Never,Public_Transportation,Healthy
1,Female,21,1.52,56.00,yes,no,3,3,Sometimes,yes,3,yes,3,Low Usage,Sometimes,Public_Transportation,Healthy
2,Male,23,1.80,77.00,yes,no,2,3,Sometimes,Nope,2,no,2,Moderate Usage,Frequently,Public_Transportation,Healthy
3,Male,27,1.80,87.00,no,no,3,3,Sometimes,Nope,2,no,2,Low Usage,Frequently,Walking,Overweight
4,Male,22,1.78,89.80,no,no,2,1,Sometimes,Nope,2,no,0,Low Usage,Sometimes,Public_Transportation,Overweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,Male,26,1.84,96.19,yes,yes,2,3,Sometimes,Nope,2,no,2,High Usage,Sometimes,Public_Transportation,Overweight
10306,Male,23,1.82,93.09,yes,yes,2,2,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight
10307,Male,23,1.72,85.31,yes,yes,3,3,Sometimes,Nope,3,no,0,Moderate Usage,Sometimes,Public_Transportation,Overweight
10308,Male,23,1.79,90.00,yes,yes,3,3,Sometimes,Nope,2,no,0,High Usage,Sometimes,Public_Transportation,Overweight
10309,LGBTQAB+,25,1.70,80.75,yes,yes,3,3,Sometimes,Nope,3,no,1,Moderate Usage,Frequently,Public_Transportation,Overweight

- LET'S DO FOR OTHER COLUMNS AS WELL AND HERE IS THE QUICK SUMMARY OF WHAT WE WANNA DO

    - NCP TO NO_OF_MEALS
    - CAEC TO SNACKING_FREQ
    - CH20 TO WATER_CONSUMPTION
    - SCC TO CALORIE_MONITORING
    - FAF TO PHYSICAL_ACTIVITY
    - TUE TO TIME_SPEND_ON_TECH 
    - CALC TO ALCOHOL_CONSUMP
    - NOBEYESDAD TO HEALTH_CONDITION

In [253]:
with connector.begin() as con:
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN NCP TO no_of_meals"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN CAEC TO snacking_freq"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN CH2O TO water_consumption"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN SCC TO calorie_monitoring"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN FAF TO physical_activity"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN TUE TO time_spend_on_tech"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN CALC TO alcohol_consump"))
    con.execute(text("ALTER TABLE obesity_data RENAME COLUMN NObeyesdad TO health_condition"))



pd.read_sql_query("Show Columns from obesity_data", connector)

                             Field    Type Null Key Default Extra
0                           Gender    text  YES        None
1                              Age  bigint  YES        None
2                           Height  double  YES        None
3                           Weight  double  YES        None
4   family_history_with_overweight    text  YES        None
5               Fried_Food_Consump    text  YES        None
6            Freq_of_Vegie_Consump  bigint  YES        None
7                      no_of_meals  bigint  YES        None
8                    snacking_freq    text  YES        None
9                            SMOKE    text  YES        None
10               water_consumption  bigint  YES        None
11              calorie_monitoring    text  YES        None
12               physical_activity  bigint  YES        None
13              time_spend_on_tech    text  YES        None
14                 alcohol_consump    text  YES        None
15                          MTRANS    text  YES        None
16                health_condition    text  YES        None

## Data Loading 2.0

AS FOR FURTHER MODELLING WE NEED THIS DATA ON PYTHON SO LET'S MAKE A DATFRAME AND SAVE IT THERE |

In [254]:
df = pd.read_sql_query("Select * from obesity_data", connector)

df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,Fried_Food_Consump,Freq_of_Vegie_Consump,no_of_meals,snacking_freq,SMOKE,water_consumption,calorie_monitoring,physical_activity,time_spend_on_tech,alcohol_consump,MTRANS,health_condition
0,Female,21,1.62,64.0,yes,no,2,3,Sometimes,Nope,2,no,0,Moderate Usage,Never,Public_Transportation,Healthy
1,Female,21,1.52,56.0,yes,no,3,3,Sometimes,yes,3,yes,3,Low Usage,Sometimes,Public_Transportation,Healthy
2,Male,23,1.80,77.0,yes,no,2,3,Sometimes,Nope,2,no,2,Moderate Usage,Frequently,Public_Transportation,Healthy
3,Male,27,1.80,87.0,no,no,3,3,Sometimes,Nope,2,no,2,Low Usage,Frequently,Walking,Overweight
4,Male,22,1.78,89.8,no,no,2,1,Sometimes,Nope,2,no,0,Low Usage,Sometimes,Public_Transportation,Overweight

In [255]:
df.shape

(10310, 17)